[submodule "Training/5_cpp/1_GCC-and-Cmake-tasks/2_CMake-Tasks/Task-2/external/boost"]
	path = Training/5_cpp/1_GCC-and-Cmake-tasks/2_CMake-Tasks/Task-2/external/boost
	url = https://github.com/boostorg/boost.git
[submodule "Training/5_Cpp/Cards/Unit-Testing-in-Cpp/googletest"]
	path = Training/5_Cpp/Cards/Unit-Testing-in-Cpp/googletest
	url = https://github.com/google/googletest.git
